@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
/* .navbar-container{
  width: 100%;
  margin-top: 20px;
  padding: 0 20px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
} */

/* .nav-left{
  display: flex;
  align-items: center;
  gap: 40px;
} */
/* .navbar-links{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 35px;
} */
/* .navlink-item{
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 600;
} */
/* .navlink-item:before{
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: rgb(183, 130, 64);
  transition: all 0.4s ease;
} */
/* .navlink-item:hover::before{
  width: 100%;
} */
/* .icon-container{
  padding: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
} */
/* .icon-container:hover{
  background-color: #504f4f;
} */
/* .icon{
  color: white;
  font-size: 25px;
  font-weight: bold;
} */
/* .pumaLogo{
  font-size: 32px;
} */
/* .nav-right{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
} */
/* .search-bar{
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px 20px;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  cursor: pointer;
} */
/* .search-bar:hover{
  border: 2px solid rgba(255, 255, 255, 0.8);
} */
/* .search-bar>p{
  color: white;
  font-weight: 500;
} */

.signUp-form{
  padding: 20px 40px;
  width: 400px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 0 20px 20px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.input-container{
  width: 100%;
}
.input-container>input{
  width: 100%;
  padding: 12px 20px;
  border-radius: 12px;
  border: none;
  outline: none;
  background-color: #eeeeee;
}
.signup-form-container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-part{
  padding: 20px 40px;
  width: 400px;
  height: 470px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: white;
  background-color: #ff473b;
  border-radius: 20px 0 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.right-part>p{
  text-align: center;
}
.signup-btn,
.signin-btn{
  padding: 7px 50px;
  border-radius: 30px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}
.signin-btn{
  border: 1px solid white;
  background-color: transparent;
}
.signup-btn{
  background-color: #ff473b;
  border: none;
}
.signup-form-container h3{
  font-size: 32px;
  font-weight: 600;
}
.signin-form{
  border: 1px solid red;
}