@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.navbar-container{
    height: 70px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}
.navbar-container>a{
    color: white;
    text-decoration: none;
}
.user-icon{
    color: white;
}
.cart-link{
    position: relative;
}
.cart-count{
    position: absolute;
    top: -15px;
    right: -15px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    color: black;
}

/* Home page card */
.card-main-container{
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.card-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
}
.img-container>img{
    width: 100%;
    height: 250px;
}
.product-title>p{
    text-align: center;
}
.product-price>p{
    text-align: center;
}
.add-to-cart{
    border: none;
    padding: 10px;
    color: white;
    background-color: #FF6600;
}

/* Cart Page */
.main-cart-container{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.cart-container{
    padding: 15px 30px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    border: 1px solid black;
    border-radius: 7px;
}
.img-titile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.product-title>p{
    font-size: 18px;
    font-weight: 700;
}
.product-img>img{
    width: 100%;
    height: 100%;
}
.increase-decrease-btns{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.btns-container{
    width: 75%;
    display: flex;
    align-items: center;
}
.decrease-btn,
.increment-btn{
    width: 33%;
    height: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.product-input{
    width: 33%;
    height: 50px;
    text-align: center;
}
.delete-item{
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 7px;
    cursor: pointer;
}
.delete-btn{
    font-size: 28px;
}


/* Checkout Pgae */
.main-checkout-container{
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fd;
}
.checkout-content-container{
    width: 80%;
    padding: 40px 50px 25px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.checkout-up-content{
    display: flex;
    justify-content: center;
}
 .chechout-up{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
 .circle-container{
    width: 97%;
    display: flex;
    align-items: center;
 }
 .circle>p{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color: white;
 }
 .steps{
    display: flex;
    align-items: center;
    justify-content: space-between;
 }
 .steps>p{
    font-size: 14px;
 }
.line{
    height: 3px;
    background-color: #e5e7eb;
    width: 100%;
}
.cart-checkout>p,
.billing-address-chechout>p,
.payment-checout>p{
    font-size: 14px;
}
.chechout-bottom{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.div-up{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
.div-up>div{
    font-size: 14px;
    font-weight: 500;
}
.order-summary{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}
.order-summary>h3{
    font-weight: 500;
}
.order-summary>div{
    display: flex;
    justify-content: space-between;
}
.sub-total,
.discount,
.shipping,
.total-amt,
.total  {
    font-weight: 600;
}
.discount{
    color: red;
}
.total-amt{
    font-size: 22px;
}
.prev-next-btns{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.prev-next-btns>button{
    padding: 8px 20px;
    color: white;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    cursor: pointer;
}
.prev-btn{
    background-color: #6a7181;
}
.prev-btn:hover{
    background-color: #28719b;
}
.next-btn{
    background-color: #01a1ff;
}
.next-btn:hover{
    background-color: #117dbb;
}

/* Login Page */
.loginPage-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 620px;
}
.loginPage-card{
    /* border: 1px solid rgb(30, 25, 25); */
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border-radius: 10px;
    background-color: #3db5c0;
}
.user_icon{
    font-size: 90px;
    opacity: 0.5;
}
.login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-form input{
    border: none;
    outline: none;
    color: black;
    background-color: transparent;
}
.login-form input::placeholder{
    color: black;
}
.login-email,
.login-password{
    padding-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid black;
}
.icon{
    font-size: 25px;
}
.login-btn{
    margin-top: 30px;
    padding: 10px 10px;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    background-color: #00264d;
}