*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent-container{
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.card-content{
  padding: 7px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid black;
  border-radius: 20px;
}